@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_LayoutBeachResort.cshtml";
}
@Scripts.Render("~/index")

<div id="main" ng-controller="controlerIndex">

    <table cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td>
                <div class="divIndex" id="controlerIndex">
                    <div id="tabs" style="width:1000px;height:500px;">
                        <ul>
                            <li><a href="#tab_Filter">Filter</a></li>
                            <li><a href="#tab_Categories">Categories</a></li>
                            <li><a href="#tab_TourPlan">Tour Plan</a></li>
                            <li><a href="#tab_TourMap">Tour Map</a></li>
                            <li><a href="#tab_SuggestedAttractions">Suggested Attractions</a></li>
                            <li><a href="#tab_NotInterested">Not Interested Attractions</a></li>
                            <li><a href="#tab_TourAnalysis">Tour Analysis</a></li>
                        </ul>
                        <div id="tab_Filter">
                            <div class="ui-widget" style="float:left;padding:5px">
                                <input id="autoCityName" placeholder="Enter City Name">
                                <br />
                                <div id="travelBasic" style="display:none">
                                    <input id="autoStartLocation" placeholder="Start Location">
                                    <br />
                                    <input id="autoDestinationLocation" placeholder="End Location">
                                    <br />
                                    <input id="calStartDateAndTime" placeholder="Start Date And Time">
                                    <br />
                                    <input id="calDropDateAndTime" placeholder="End Date And Time">
                                </div>
                            </div>
                        </div>
                        <div id="tab_Categories">
                            <div style="float:right;padding:5px">
                                <table ng-table="ngTableCategoryList" class="ngCategorytable" style="display:none">
                                    <tr ng-repeat="categoryList in CategoryList">
                                        <td title="'UnCheck'">
                                            <input type="checkbox" checked="checked" ng-click="CategorySelected(categoryList)" />
                                        </td>
                                        <td title="'Category Name'">
                                            {{categoryList.CategoryName}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div id="tab_TourPlan">                            
                            <!--Tour Plan tabs-->
                            <div id="subtabs" style="width:800px;height:400px;">
                                <ul>                            
                                </ul> 
                                                             
                            </div>


                              

                            


                            <div>
                               
                            </div>
                        </div>
                        <div id="tab_TourMap">
                            <div id="googleMaps" style="float:left">
                            </div>
                        </div>
                        <div id="tab_SuggestedAttractions">
                            <p>
                                UP Comming
                            </p>
                        </div>
                        <div id="tab_NotInterested">
                            <p>
                                UP Comming
                            </p>
                        </div>
                        <div id="tab_TourAnalysis">
                            <p>
                                UP Comming
                            </p>
                        </div>
                    </div>

                </div>

            </td>
        </tr>

    </table>

    <br />
    <br />

</div>